<ion-header>
  <ion-toolbar class="assign">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div id="nav-pages">
      <ion-title>{{'Assignments.title' | translate}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search-bar">
    <ion-searchbar [debounce]="50" (ionChange)="handleChange($event)" placeholder="Busqueda de todas las posiciones registradas"></ion-searchbar>
    <ion-searchbar [debounce]="50" (ionChange)="handleChange2($event)" placeholder="Busqueda de todos mercados registrados"></ion-searchbar>
  </div>

  

  <ion-list>
    <ion-col sizeXs="8" sizeXl="3" *ngFor="let assign of (getAssignment() | async)">
      <app-assignment [assign]="assign" (onEdit)="onEditAssign($event)" (onDelete)="onDeleteAssign($event)"></app-assignment>
    </ion-col>
  </ion-list>
</ion-content>

<ion-segment>
  <ion-segment-button (click)="onNewAssign()" icon-only>
    <ion-icon name="add-circle" color="primary" style="zoom:2"></ion-icon>
  </ion-segment-button>
</ion-segment>
