<ion-item-sliding #sliding [disabled]="!isLowResolution()" class="custom-item-sliding">
  <ion-card class="custom-card">
    <ion-card-content>
      <ion-item>
        <ion-avatar class="market">
          <img *ngIf="!(market$ | async)?.picture" alt="Silhouette of a market's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          <img *ngIf="(market$ | async)?.picture" alt="Market picture" [src]="(market$ | async)?.picture" />
        </ion-avatar>
  
        <ion-icon name="link-outline"></ion-icon>
        <ion-avatar class="position">
          <img *ngIf="!(position$ | async)?.picture" alt="Silhouette of a market's head"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          <img *ngIf="(position$ | async)?.picture" alt="Market picture" [src]="(position$ | async)?.picture" />
        </ion-avatar>
        <ion-label class="ion-text-center ion-text-wrap">{{ assign.dateTime | date:'short' }}</ion-label>
  
        <ion-icon name="swap-horizontal" *ngIf="isLowResolution()"></ion-icon>
      </ion-item>
    </ion-card-content>
  
    <ion-row class="custom-row">
      <ion-col>
        <ion-button class="custom-button" fill="clear" (click)="onEditClick(sliding)">
          <ion-icon name="pencil"></ion-icon>
          {{ 'button.edit' | translate }}
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="custom-button" fill="clear" color="danger" (click)="onDeleteClick(sliding)">
          <ion-icon name="trash"></ion-icon>
          {{ 'button.delete' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  
    <ion-item-options>
      <ion-item-option (click)="onEditClick(sliding)" color="light">
        <ion-icon slot="top" name="pencil-outline" color="success"></ion-icon>
        {{ 'Editar' | uppercase }}
      </ion-item-option>
      <ion-item-option (click)="onDeleteClick(sliding)" color="light">
        <ion-icon slot="top" name="trash-outline" color="danger"></ion-icon>
        {{ 'Borrar' | uppercase }}
      </ion-item-option>
    </ion-item-options>
  </ion-card>
  
</ion-item-sliding>
