<ion-header>
  <ion-toolbar>
    <ion-title>{{'Assignments.title' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()" class="form-container">
    <app-market-selectable formControlName="marketId"></app-market-selectable>
    <app-position-selectable formControlName="positionId"></app-position-selectable>
    <ion-item>
      <ion-label class="form-label">{{'DateTime' | translate}}</ion-label>
      <ion-datetime formControlName="dateTime" class="form-datetime"></ion-datetime>
    </ion-item>
    <ion-button color="success" [disabled]="!form.valid" type="submit" class="submit-button">
      {{(mode=="Edit"?"button.edit":"button.new") | translate}}
    </ion-button>
  </form>
</ion-content>
